.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background: #c9fac7;
    overflow: hidden;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}
p{
    word-break: break-all;
}